@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    text-align: center;
    background-color: #0d1e3a;
}
h1{font-size: large;}

p{font-size: small;}

body{
    padding: 30px;
    margin:30px
}

.btn{
    display: block;
    text-decoration: none;
    background-color: aliceblue;
    margin: 20px;
    padding: 30px;
    color:black;
    box-shadow: 5px 10px #888888;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(92, 0, 128) ;
    transition: 0.3 ;
}

.social-icons{
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile{
    border-radius: 50%;
    max-width: 30%;
    max-height: auto;
}